


<footer>
    <div>
      <p>
      &copy; 2013-14 Steve Francia.
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution">Some rights reserved</a>;
      please attribute properly and link back. Hosted by <a href="http://servergrove.com">ServerGrove</a>.
      </p>
    </div>
  </footer>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XYSYXYSY-X']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
          'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();
  
  </script>
  </body>
  </html>
  
  