


<!-- sidebar start -->
<aside>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
            <a href="#">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
            <ul class="sub-menu">
              {{ range .Children }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
            </ul>
        {{else}}
          <li>
            <a href="{{.URL}}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
        {{end}}
      {{end}}
      <li>
        <a href="#" target="blank">Hardcoded Link 1</a>
      <li>
        <a href="#" target="blank">Hardcoded Link 2</a>
    </ul>
  </aside>
  
  