<!--
TODO(bep) check what's in use vs js folder + non-min versions.
<script src="{{ relURL "assets/js/bootstrap.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/prettify.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/jquery.ajax.queue.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/jquery.syntaxhighlighter.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/handlebars.runtime.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/search.hbs.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/underscore.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/backbone.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/main.js" }}" type="text/javascript"></script>
<script src="{{ relURL "assets/js/search.js" }}" type="text/javascript"></script>-->
<script src="{{ relURL "build/js/libs-de389cd58b.min.js" }}" type="text/javascript"></script>
<script src="{{ relURL "build/js/main-d68edd0469.min.js" }}" type="text/javascript"></script>
