{{ define "main" }}
  <h1>List-Page Template</h1>
    <hr/>

  <ol>
        {{ range .Data.Pages}}
            <li>
            <a href="{{ .URL }}">{{ .Title }} 
                    {{ if .Params.entity }}({{ .Params.Entity }}) {{ end }}
            </a> - {{ .Description }}</li>
        {{ end }}
    </ol>



{{ end }}