<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>List-Page Template</h1><hr/>

    <ol>
        {{ range .Pages}}
            <li>
            <a href="{{.URL}}">{{.Title}} 
                    {{if .Params.entity }}({{ .Params.Entity }}) {{ end }}
            </a> - {{ .Description }}</li>
        {{ end }}
    </ol>

</body>
</html>




